h1 {
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 0 2rem 7px 2rem;
  background-color: rgb(95, 95, 175);
  color: lavender;
}

header nav {
  display: flex;
  margin-top: 15px;
}

header nav li {
  list-style-type: none;
  margin-left:  15px;
  font-weight: bold;
}

header nav li:hover {
  cursor: pointer;
}

body {
  color: rgb(95, 95, 175);
  background-color: lavender;
  height: 100%;
}