h1 {
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 0 2rem 7px 2rem;
  background-color: rgb(95, 95, 175);
  color: lavender;
}

header nav {
  display: flex;
  margin-top: 15px;
}

header nav li {
  list-style-type: none;
  margin-left:  15px;
  font-weight: bold;
}

header nav li:hover {
  cursor: pointer;
}

body {
  color: rgb(95, 95, 175);
  background-color: lavender;
  height: 100%;
}

 main h1 {
  text-align: center;
  margin-top: 2rem;
 }

 main h4 {
  text-align: center;
 }

 .about .imgSection {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 2rem;
 }

 .about img {
  border-radius: 50%;
  width: 20%;
  border: 3px solid rgb(95, 95, 175);
 }

 .about p {
  margin: 1.5rem 5rem;
  line-height: 175%;
  font-size: large;
 }